<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relicseeker.game">
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="Relic Seeker" android:hasCode="false">
        <activity android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="RelicSeeker"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
